:root{
    background: #fff;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(#ff3838);
    color: #fff !important;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: #f7f7f7;
}

header{
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header.logo i{
    padding-right: 5rem;
    color: #ff3838;
}

header .navbar{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover{
    color: #ff3838;
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: 1rem solid #666;
    border-radius: 3rem;
    padding: 5rem 1.5rem;
    display: none;
}






















/* media queries */ 

@media (max-width:991px) {
    
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px) {
    
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 1rem solid rgba(0, 0, 0, 1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        border: 2rem solid rgba(0, 0, 0, 1);
        border-left: .5rem solid #ff3838;
        background: #fff;
    }
}

@media (max-width:400px) {
    
    html{
        font-size: 50%;
    }
}